@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<form method="post" action="/"  >
    <input type="text" name="message" value="Hello" />
    <input type="submit" value="post" />
</form>

<p>Use this area to provide additional information.</p>
